html
	body
		h1 Add Courses
		form(action = "/addCourse" method = "post")
			label Add course
			<br>
			<input type = "text" name = "course">
			<br>
			label Add id
			<input type = "text" name = "courseId">
			<br>
			label Add end time
			<input type = "text" name = "endTime">
			<br>
			label Status
			<input type = "text" name = "status">
			<br>
			<input type = "submit">