html
	body
		h4 b Admin Responsibilities
		<br>
		button(onclick="location.href = '/addCourse';") Add Course
		button(onclick="location.href = '/editCourse';") Edit Course
		button(onclick="location.href = '/deleteCourse';") Delete Course