html
	body
		h1 Delete Courses
		p(hidden='') #{courses}
		ul
			each val, index in courses
				li= index + ":" + val

		h3 Delete Course Information

		form(action = '/deleteCourse' method = "post")
			label Course Name
			<input type = "text" name = "deleteCourse">
			<br>
			label Course Id
			<input type = "text" name = "deleteCourseId">
			<input type = "submit">
