html
	head
		title #{reg}
	body
		h1 Fill Details
		form(action = "/FillDetails" method = "post")
			label Enter Name
			<br>
			input(type = "text" name = "Name")
			<br>
			label Email Id
			input(type = "text" name = "email")
			<br>
			<input type = "submit">