html
	body
		h3 Welcome to Course Registration Portal
		<br><br>
		h4 Student Login
		<br>
		h5 Login
		button(onclick="location.href = '/studentLogin';") Login
		<br>
		h5 Signup
		button(onclick="location.href = '/studentSignUp';") Sign Up
		<br>
		h5 Login to admin portal
		button(onclick="location.href = '/adminLogin';") Login