html
	body
		h1 Welcome To Course Registration Portal
		<br><br><br>
		h3 Student Login
			<br><br><br>
			form(action = "/studentLogin" method = "post")
				label username
				<br>
				input(type = "text" name = "studname")
				<br>
				label password
				<br>
				input(type = "password" name = "pwd")
				<br>
				input(type = "submit")