html
	body
		h1 Welcome To Course Registration Portal
		<br><br><br>
		h3 Student SignUp
			<br><br><br>
			form(action = "/studentSignUp" method = "post")
				label Registration Number
				<br>
				input(type = "text" name = "studName")
				<br>
				label password
				<br>
				input(type = "password" name = "pwd")
				<br>
				input(type = "submit")